{
    "FILENAME": "secrets.json",
    "SECRET_KEY": "django-insecure-testing_ñalsjdf1234*%s3&89%s_gihz!frrtzof-&2c^%7pb",
    "HOSTNAME": "",
    "DB_NAME": "",
    "USER": "",
    "PASSWORD": "",
    "EMAIL_HOST": "smtp.yourmailhost.com",
    "EMAIL_PORT": 587,
    "EMAIL_HOST_USER": "your_mail_user@your_mail_host.com",
    "EMAIL_HOST_PASSWORD": "your_mail_password_xdsnlurasfasdf",
    "EMAIL_USE_TLS": "True",
    "PAYPAL_ACCOUNT": "Write_here_your_PayPal_account"
}
